<!DOCTYPE html>
<html>
<head>
  <title>Auth</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div>
      <% if current_user %>
        <a class="logout" href="/logout">Log out</a>
      <% else %>
        <form method="post" action="/login">
          <input type="text" name="email" placeholder="Email address">
          <input id="inputPassword" type="password" name="password" placeholder="Password">
          <input type="submit" value="Log in">
        </form>
      <% end %>
    </div>
    <h1>Auth, baby!</h1>
  </header>

<%= yield %>

</body>
</html>
